body{
	background-color:black;
	font-family:Courier;
	color:white;
	}
H2{
	color:yellow;
	background-color:slategrey;
	text-align:center;
}

h1{
	color:black;
	background-color:white;	
	
}

img{
	height:250;
	
}

p, li{
	font-size:12px;
	
}
a{
	color:white;
}
a:hover{
	background-color:yellow;
	color:black;
}
.mediasection{
	color:black;
	background-color:slategrey;
}
